@charset "UTF-8";
body{
    background-color: rgb(36, 36, 36);
}

header{
    z-index: 10;
      height: 64px;
    position: absolute;
    top: 300px;
    background-color: #333;
    width: 100%;
    text-align: center;
    z-index: 2;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.25);
}

a{
    color: #fff;
    text-transform: uppercase;
}

ul{
    overflow:hidden;
    list-style: none;
    margin: 0 auto;
    z-index: 20;
}

ul li{
    display: inline-block;
    padding: 26px 10px 20px 10px ;
}

.top-image-area{
    width: 100%;
    height: 300px;
    background-image: url("SOL.JPG");
    background-position: 100% 20%;
    background-size: cover;

}

ul li:hover{
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1 ,1);
    transform: scale(1, 1);
}



.btn4{
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}


.btn4::before{
    content:'';
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: gray;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-tranform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: trasform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}

.btn4:hover::before{
   -webkit-transform-origin: left top;
   -ms-transform-origin: left top;
   transform-origin: left top;
   -webkit-transform: scale(1, 1);
   -ms-trasform: scale(1, 1);
   transform: scale(1, 1);
}

.btn2{
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    border-bottom: 2px solid gray;
}

#footer {
    position: relative;
    margin-top: 40px;
    color: #fff;
  }
  #footer a {
    text-decoration: none;
    color: #fff;
  }
  #footer a:hover {
    text-decoration: underline;
  }
  #footer .primary {
    padding: 40px 20px;
    background: #333;
  }
  
  @media screen and (max-width: 767px) {
    #footer .primary {
      padding: 20px 20px;
      background: #333;
     
    }

  }
  
 
  
  /* address */
  
  .address {
    margin: 10px 0 0;
    padding: 0;
    text-align: right;
  }
  
  @media screen and (max-width: 767px) {
    .address {
      font-size: 12px;
    }
  }
  
 
  /* sns-navi */
  
  #footer .sns-navi {
    margin: 0 0 0 auto;
    padding: 0;
  }
  #footer .sns-navi li {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 20px;
  }
  #footer .sns-navi li:last-child {
    margin-right: 0;
  }
  
  @media screen and (max-width: 767px) {
    #footer .sns-navi {
      margin: 20px 0 0;
      padding: 0;
    }
    #footer .sns-navi li {
      margin: 0 20px 0 0;
      padding: 0;
      font-size: 18px;
    }
  }
  
 
  
  body {
    margin: 0;
    padding: 0;
  }
  
.main{
    width: 960px;
    height: 5000px;
    background-color: green;
}